/* Toggle Styles */

body {
    overflow: hidden;
    display: none;
}

#main {
    overflow: hidden;
}

.github {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #d2e5f3;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    overflow: hidden;
    display: none;
}

#right-wrapper {
    left: 250px;
    height: 100vh;
    margin-left: 1000px;
    background: #d2e5f3;
    overflow-y: auto;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
    overflow-x: hidden;
    overflow: hidden;
    display: none;
}

#top-wrapper {
    background: #d2e5f3;
    height: 50px;
    text-align: center;
    color: #999999;
    width: 100%;
    clear: both;
    position: relative;
    margin-top: 0;
    vertical-align: top;
    overflow-x: hidden;
}

#tweet-wrapper {
    width: 750px;
    color: #999999;
    height: 100%;
    position: absolute;
    z-index: auto;
    white-space: nowrap;
    vertical-align: middle;
    clear: both;
    margin-left: 250px;
    overflow: hidden;
    
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}



.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.right-nav ul a {
    display: block;
    text-decoration: none;
    color: #175888;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #175888;
    background: rgba(255,255,255,0.2);
}

.right-nav ul a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.right-nav ul a:active,
.right-nav ul a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.right-nav > .right-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
}

.sidebar-nav > .sidebar-brand a {
    color: #175888;
}

.right-nav > .right-brand a {
    color: #175888;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.right-nav > .right-brand a:hover {
    color: #fff;
    background: none;
}

    #sidebar-wrapper {
        width: 250px;
    }


::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}